<div class="socialbuttons">
  <div class="socialbutton sb-button-googleplus"><!-- Google Plus One--><div class="g-plusone" data-size="medium"></div></div>
  <div class="socialbutton sb-button-twitter"><!-- Twitter--><a href="https://twitter.com/share" class="twitter-share-button" data-via="tolpp" data-dnt="true" rel="nofollow"></a></div>
  <div class="socialbutton sb-button-fblike"><!-- Facebook like--><div id="fb-root"></div><div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></div>
</div>