<div class="main">
  <p>Tolga Okur 2015</p>
  <!--<div class="footer">
      <div class="sidebar-user1"></div>
      <div class="block2-center">
        <div class="block2-center2">
          <div class="sidebar-user2 span2"></div>
          <div class="sidebar-user3 span2"></div>
          <div class="sidebar-user4 span2"></div>
          <div class="sidebar-user5 span2"></div>
          <div class="sidebar-user6 span2"></div>
        </div>
        <div class="block2-center2">
          <div class="sidebar-user7 span2"></div>
          <div class="sidebar-user8 span2"></div>
          <div class="sidebar-user9 span2"></div>
          <div class="sidebar-user10 span2"></div>
        </div>
        <div class="block2-center2">
          <div class="sidebar-user11 span2"></div>
          <div class="sidebar-user12 span2"></div>
          <div class="sidebar-user13 span2"></div>
        </div>
        <div class="block2-center2">
          <div class="sidebar-user14 span2"></div>
          <div class="sidebar-user15 span2"></div>
        </div>
        <div class="block2-center2">
          <div class="sidebar-user16"></div>
        </div>
      </div> 
  </div>-->
  
  {% include tool/google-analytics.html %}
</div>