<div class="main1280">
    <div class="sidebar-user1">
            <ul><li>
               <div class="menu-ana-menu-container"><ul class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom "><a href="{{ site.baseurl }}/">ana sayfa</a></li>
                <li class="menu-item"><a title="Hakkında" href="{{ site.baseurl }}/about ">hakkında</a></li>
                {% if site.twitter_username %}
                <li class="menu-item"><a title="@{{ site.twitter_username }}" href="https://twitter.com/{{ site.twitter_username }}" target="_blank">twitter</a></li>
                {% endif %}
                {% if site.github_username %}
                <li class="menu-item" target="_blank"><a href="https://github.com/{{ site.github_username }}" target="_blank">github</a></li>
                {% endif %}
</ul></div> </li>
            </ul>
             <a id="live-menu" class="responsive-menu" href="#">Menu</a>
      </div>
  

    <div class="main980">
          <div class="block2-center2"></div>
    </div>
</div>