.licance{
    text-align:center;
}

.rss-subscribe{
    text-align:center;
}

.sidebar-user14{
    text-align:right;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

div.socialbuttons { height: 20px; margin: 10px auto 10px 0; text-align: left; clear: left; }
div.socialbutton { float: left; }
div.sb-button-googleplus { width: 100px; }
div.sb-button-fblike { width: 140px; line-height: 1; }
div.sb-button-twitter { width: 130px; }
div.sb-button-pinterest { width: 100px; }
.fb-like iframe { max-width: none !important; }